---
# You should edit _data/papers.yaml to change the content of this page.
title: Publications
redirect_from:
  - /papers.cgi
---
<script type="text/javascript"><!--
    $(document).ready(function(){
        $(document.createElement("a"))
            .text("show abstract")
            .attr('href', '#')
            .addClass('abstractlink')
            .insertBefore($(".abstract").hide())
            .click(function() {
                $(this).next().toggle();
                if ($(this).text() == "show abstract") {
                $(this).text("hide abstract");
                } else {
                $(this).text("show abstract");
                }
                return false;
            });
            $(".bibtex").dialog({width : 600, title : "BibTeX", autoOpen : false});
    });

    function dobib(id) {
        $("#bibtex" + id).dialog("open");
    }
--></script>

<p>The following is a list of recent publications by the Resource Reasoning group:</p>

{% assign papers = site.data.papers | sort: 'pubdate' %}
{% for paper in papers reversed %}
<div class="paper">
    <span class="papertitle">{{ paper.title }}</span>
    <span class="links">
        {% if paper.pdf %}
            [<a href="{{paper.pdf | escape }}">PDF</a>]
        {% endif %}
        {% if paper.ps %}
            [<a href="{{paper.ps | escape }}">PS</a>]
        {% endif %}
        {% if paper.pdflong %}
            [<a href="{{paper.pdflong | escape }}">Full PDF</a>]
        {% endif %}
        {% if paper.pslong %}
            [<a href="{{paper.pslong | escape }}">Full PS</a>]
        {% endif %}
        {% if paper.bibtex %}
            [<a href="javascript:dobib('{{ forloop.index }}')">BibTeX</a>]
        {% endif %}
    </span>
    <div class="paperbody">
        <p class="authors">{{ paper.authors }}</p>
        <p class="publishedin">{{ paper.venue }} </p>
        <div class="abstract">{{ paper.abstract | markdownify }}</div>
    </div>
    <pre class="bibtex" id="bibtex{{ forloop.index }}">{{ paper.bibtex }}</pre>
</div>
{% endfor %}
<p>
    To request a paper be added to this list, please <a href="{% include newpaper_url.html %}">contact
    us</a>.
</p>
