---
# You should edit _data/people.json to update the content of this page
title: People
---
<p>
    The people currently researching Resource Reasoning in London, Cambridge and Oxford include:
</p>
<ul>
  {% assign people = site.data.people.current | sort: "lastname" %}
  {% for person in people %}
    <li>
      {% if person.url %}<a href="{{ person.url }}">{% endif %}{{ person.firstname }} {{ person.lastname }}{% if person.url %}</a>{% endif %}
      ({{ person.affiliations | join: ', ' }})
    </li>
  {% endfor %}
</ul>

<p>
    People who have formerly researched Resource Reasoning in these locations:
</p>
<ul>
  {% assign people = site.data.people.former | sort: "lastname" %}
  {% for person in people %}
    <li>
      {% if person.url %}<a href="{{ person.url }}">{% endif %}{{ person.firstname }} {{ person.lastname }}{% if person.url %}</a>{% endif %}
      ({{ person.affiliations | join: ', ' }})
    </li>
  {% endfor %}
</ul>
