import cgi
import cgitb
import os
import sys
logdir = "/vol/rr/rr-web/log"
cgitb.enable(display=0, logdir=logdir)

old_excepthook = sys.excepthook
def my_excepthook(type, value, traceback):
	old_excepthook(type, value, traceback)
	for lf in os.listdir(logdir):
		try:
			os.chmod(logdir + "/" + lf, 0660)
		except OSError:
			pass
sys.excepthook = my_excepthook

connect_string = "dbname=rr_u host=db port=5432 user=rr_u password=PASSWORD"

def ssi(name):
	incf = open("/vol/rr/rr-web/src/" + name, "r") 
	res = incf.read()
	incf.close()
	return res
