<div>
    <a href="/">
        <img id="lrr" src="/images/rr.png" alt="Resource Reasoning"/>
    </a>
    <div>
        <ul id="nav">
            <li class="navi">[<a href="/" class="navbutton">Home</a>]</li>
            <li class="navi">[<a href="/news.html" class="navbutton">News</a>]</li>
            <li class="navi">[<a href="/people.html" class="navbutton">People</a>]</li>
            <li class="navi">[<a href="/papers.html" class="navbutton">Publications</a>]</li>
            <li class="navi">[<a href="/support.html" class="navbutton">Support &amp; Connections</a>]</li>
        </ul>
    </div>
</div>

